* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    top:0;
    cursor:pointer;
}

.nav-list {
    width: 50%;
    /*background-color:rgb(149, 143, 143);*/
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 23px 23px;

}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 60%;
    border: 5px rgb(226, 226, 226);
    border-radius: 2.5px;
}

.nav-list li a {
    text-decoration: none;
    color: black;

}

.nav-list li a:hover {

    color: grey;

}

.rightNav {
    width: 50%;
    text-align: right;
    /*background-color: yellow;*/
    padding:0 23px;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background {
    background: rgba(0, 0, 0, 0.9) url('../image/website-background-templates.jpg');
    background-size: cover;
    background-blend-mode: lighten;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    align-items: center;
    margin-left: auto;
    display: flex;
    flex: auto;
}

.shadowBox {
    box-shadow: 0 0 6px 3px #ededed;
    background: #fff;
    padding: 15px;
    overflow: hidden;
    border-radius: 4px;
}

.container {
    background-image: '../image/website-background-templates.jpg';
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050 !important;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.leftcol {
    width: 850px;
    float: left;
}

.leftcol .tool-content {
    margin: 20px 0;
    clear: both;
    border: none;
    box-shadow: 0 0 6px 3px #f1f1f1;
    border-radius: 3px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.text-sec {
    padding: 0
}

.plagBox-banner {
    position: relative;
    min-height: 50px;
    width: 100%;
    background-color: #f0f8ff;
    clear: both;
    border-radius: 6px 6px 0 0;
    border-bottom: none;
    border-bottom: none;
    box-shadow: inset 0px 0px 1px 1px #eee, 0px 0.1px 0px 1px #87c6f0
}

.banner-btn {
    display: inline-block;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 7px;
    /*width: 120px;*/
    text-align: center;
    margin: 14px 3px 0px 3px;
    /* box-shadow: 0px 5px 5px #00000026; */
    font-family: system-ui;
    color: #2e6fa6;
    transition: all .2s linear;
}

.banner-feature {
    position: relative;
    height: 60px;
}

.banner-feature i.fa-abs,
.plan-box li i.fa-abs {
    position: absolute;
    right: -16px;
    top: 50%;
    width: min-content;
    transform: translate(10px, -50%);
}

.banner-feature i.fa-abs {
    left: 10px !important;
    top: 50%;
    transform: translate(0px, -50%)
}

.banner-feature i.fa-circle,
.plan-box li i.fa-circle {
    color: #E8F8FC;
    font-size: large
}

.banner-feature i.fa-check,
.plan-box li i.fa-check {
    color: #00b698;
    font-size: x-small;
    left: -50%;
}

.banner-feature i.fa-check {
    color: #fff !important;
    left: 3.5px !important
}

.banner-feature i.fa-circle {
    color: #00b698 !important;
    font-size: 20px
}

.go-pro {
    background: #00b698;
    color: #fff;
    margin-right: 4px !important;
    width: auto
}

@media (max-width: 768px) {
    .plagBox-banner .col-sm-2 {
        padding-left: 5px;
        padding-right: 5px
    }
}

@media (max-width: 576px) {
    .go-pro {
        width: auto
    }

    .banner-btn {
        padding: 6px 4px !important;
        width: auto !important
    }

    .plagBox-banner .col-sm-2 {
        padding-right: 0;
        padding-left: 5px
    }

    .banner-btn {
        margin: 8px 0 0 0;
    }

    .plagBox-banner {
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important
    }

    .plagBox-banner .col-sm-2 {
        padding: 0px !important
    }
}

@media (max-width: 424px) {
    .banner-btn {
        font-size: 13px !important
    }
}

@media (max-width: 352px) {
    .hide-425 {
        display: none
    }

    .btn-check-up {
        padding: 5px !important;
        letter-spacing: -.01rem;
    }
}

.btn-go {
    border-radius: 4px;
    background-color: #3acd99;
    color: #fff;
    border: none;
}

.plagBox-banner:hover .banner-btn:not(.go-pro) {
    color: #000;
    text-decoration: underline;
}

.plagBox-banner:hover i.fa.fa-circle.fa-abs:after {
    animation: ripple 1s infinite;
    -webkit-animation: ripple 1s infinite;
    content: '';
    border-radius: 50%;
    height: 17.16px;
    width: 17.16px;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
}

.plagBox-banner:hover .banner-feature i.fa-circle {
    color: #fff !important;
    -webkit-animation: ripple 1.3s infinite;
    animation: ripple 1.3s infinite;
    border-radius: 50%;
    line-height: 17px;
}

.plagBox-banner:hover .banner-feature i.fa-check {
    color: #00b698 !important
}

@-webkit-keyframes ripple {
    0% {
        box-shadow: 0 0 0 0px #00b597
    }

    100% {
        box-shadow: 0 0 0 12px #00000000
    }
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0px #00b597
    }

    100% {
        box-shadow: 0 0 0 12px #00000000
    }
}


#carbonads {
    position: relative;
    display: flex;
    width: 300px;
    height: 250px;
    background-color: #fff;
    box-shadow: inset 0 0 1px 1px hsla(0, 0%, 0%, .15);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    justify-content: center;
    align-items: center
}

#carbonads a {
    color: #111;
    text-decoration: none
}

#carbonads a:hover {
    color: #111
}

#carbonads span {
    display: block;
    overflow: hidden
}

.carbon-img {
    display: block;
    margin: 0 0 8px;
    line-height: 1
}

.carbon-img img {
    max-width: 150px !important;
    width: 150px;
    height: auto
}

.carbon-text {
    display: block;
    margin-bottom: 8px;
    padding: 0 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.35
}

.carbon-poweredby {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: block;
    padding: 5px 6px;
    border-radius: 2.5px;
    background-color: hsl(246, 93%, 69%);
    color: #fff !important;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 600;
    font-size: 8px;
    line-height: 1
}

.btn {
    background-color: rgb(255, 182, 255);
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 8px;
    cursor:pointer;
    border:2px solid white;

}

.box-main{
    display:flex;
    justify-content: center;
    align-items: center;
    color: purple;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin:auto;

}
.firstSection{
    height:100vh;
}
.firstHalf{
    width:75%;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.secondHalf{
    width:30%;
}
.secondHalf img{
    width: 120%;
    border: 4px solid plum;
    border-radius: 10000px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 50px;
}
.text-small{
    font-size: 20px;
}

.btn-sm{
    padding:6px 10px;
    vertical-align: center;
}